.card {
    height: 12rem;
    width: 15rem;
    border-radius: 8px;
    border: 1px solid var(--dark-gray);
    margin: 5rem 2rem;
    background-color: var(--header-background);
    display: inline-block;
}

.cardContent {
    width: fit-content;
    margin: 1rem auto;
}

.cardStatus {
    color: var(--header-orange);
    font-weight: 500;
    font-size: 1.3rem;
}

.cardButton {
    height: 3rem;
    width: 8rem;
    border-radius: 8px;
    border: 1px solid var(--dark-gray);
    background-color: var(--light-blue);
    margin: 1rem 3.5rem;
}