@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600&display=swap');

:root {
    --dark-gray: #5C5C5C;
    --header-orange: #EF776C;
    --header-background: #FCFAEE;
    --light-green: #ECFDF0;
    --light-gray: #F5F5F5;
    --light-orange: #FAD1C6;
    --light-blue: #D9E7FC;
}

.todoContainer {
    text-align: center;
}